@import '../variables';
@import "../overlay/index.css";

.dialog-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.dialog {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  max-height: 96vh;
  max-width: 96vw;
  opacity: 0;
  overflow: auto;
  transform: translateY(-40px);
  transition: all 0.35s var(--animation-curve-default);
  transition-property: opacity, transform;
  transition-delay: 0.07s;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.dialog-header{
  height: 57px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7eaf3;
  color: #666;

  .dialog-title {
    font-size: 14px;
    padding-left: 20px;

  }

  .dialog-close{
    margin-left: auto;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
  }
}


.dialog-body {
  flex-grow: 2;
  padding: 40px 20px;
}

.dialog-navigation {
  width: 100%;
  flex-grow: 1;
  padding: 8px;
  text-align: center;
}

.dialog-button {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  padding: 0 34px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #f2f2f2;

  &:last-child:not(:only-child){
    margin-left: 20px;
  }
  &:focus { outline: none; }
}
