@import '../variables';

.dialog-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: $z-index-higher;

  @include reset;
}

.dialog {
  background-color: white;
  border-radius: 2px;
  box-shadow: $zdepth-shadow-5;
  display: flex;
  flex-direction: column;
  max-height: 96vh;
  max-width: 96vw;
  opacity: 0;
  overflow: auto;
  transform: translateY(-40px);
  transition: all $animation-duration $animation-curve-default;
  transition-property: opacity, transform;
  transition-delay: $animation-delay;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.dialog-title {
  color: black;
  flex-grow: 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1;
  margin: 0 0 16px;
}

.dialog-body {
  flex-grow: 2;
  padding: 24px;
}

.dialog-navigation {
  flex-grow: 0;
  padding: 8px;
  text-align: right;
}

.dialog-button {
  margin-left: 8px;
  min-width: 0;
  padding-left: 8px;
  padding-right: 8px;
}
