@import '../variables';

.rc-checkbox{
  display: inline-block;
  font-size: 14px;
  cursor: pointer;

  &-inner{
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background-color: white;
    margin-right: 8px;
    transition: background-color .3s;
    vertical-align: middle;
    position: relative;

    &.active {
      background-color: #38f;
      border: none;
    }

    &:after {
      background: transparent;
      border: 2px solid #fff;
      border-right: none;
      border-top: none;
      box-sizing: content-box;
      content: "";
      display: inline-block;
      font-size: 0;
      position: absolute;
      top: 5px;
      left: 50%;

      width: 6px;
      height: 3px;

      transform: translateX(-50%) rotate(-45deg) scale(0);
      transition: opacity 0.2s var(--animation-curve-default), transform 0.2s var(--animation-curve-default);
    }

    &.active:after {
      transform: translateX(-50%) rotate(-45deg) scale(1);
    }
  }

}