@import '../variables.css';
@import "../popover/index.css";

.tooltip-wrapper {
  //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  opacity: 0;
  background: transparent;
  transition: opacity 0.35s var(--animation-curve-default);
  display: inline-flex;

  &.active {
    opacity: 1;
  }


  &-top{
    flex-direction: column;
    align-items: center;
  }

  &-right{
    flex-direction: row-reverse;
    align-items: center;
  }

  &-bottom{
    flex-direction: column-reverse;
    align-items: center;
  }

  &-left{
    flex-direction: row;
    align-items: center;
  }

}

.tooltip-arrow {
  width: 10px;
  height: 10px;
  border-left: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  border-right: transparent;
  border-bottom: transparent;
  background: white;



  &-top{
    transform: translateY(-50%) rotate(-135deg);
  }

  &-right{
    transform: translateX(50%) rotate(-45deg);
  }

  &-bottom{
    transform: translateY(50%) rotate(45deg);
  }

  &-left{
    transform: translateX(-50%) rotate(135deg);
  }
}

.tooltip-content {
  border: 1px solid #EEEEEE;
  padding: 16px;
  background-color: white;
  border-radius: 2px;
}