@import '../variables.scss';

.tooltip-wrapper {
  //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  opacity: 0;
  background: transparent;
  transition: opacity $animation-duration $animation-curve-default;

  display: flex;

  &.active {
    opacity: 1;
  }


  &-top{
    flex-direction: column;
    align-items: center;
  }

  &-right{
    flex-direction: row-reverse;
    align-items: center;
  }

  &-bottom{
    flex-direction: column-reverse;
    align-items: center;
  }

  &-left{
    flex-direction: row;
    align-items: center;
  }

}

.tooltip-arrow {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;

  &-top{
    border-top-color: rgba(0, 0, 0, 0.75);
  }

  &-right{
    border-right-color: rgba(0, 0, 0, 0.75);
  }

  &-bottom{
    border-bottom-color: rgba(0, 0, 0, 0.75);
  }

  &-left{
    border-left-color: rgba(0, 0, 0, 0.75);
  }

}


.tooltip-content {
  padding: 6px 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}