@import '../variables.css';

.rc-popover-trigger {
  display: inline-block;
}


.popover-content {
  display: inline-block;
  opacity: 0;
  transform: scaleY(0);
  position: absolute;
  left: 9999px;
  top: 9999px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  transform-origin: 0 0;
  transition: opacity 0.3s var(--animation-curve-default), transform 0.3s var(--animation-curve-default);

  &.active {
    opacity: 1;
    transform: scaleY(1)
  }
}

